<footer class="footer text-center fixed-bottom">
    <div class="container-fluid">
        <strong>@ViewData["AppName"]</strong> - @ViewData["Authors"] - <strong>&copy; 2018</strong>
    </div>
</footer>