<footer class="footer text-center fixed-bottom">
    <div class="container-fluid">
        <strong>@ViewData["AppName"]</strong> - Franco Horita, Pablo Nicolás Litardo & Facundo Ravinale - <strong>&copy; 2018</strong>
    </div>
</footer>