@model Carreras

<main class="container">
  
  <div class="row">
    <div class="col-sm-8">
      <h2 class="mt-5">@ViewData["Title"]</h2>
    </div>
    <div class="col-sm-4">
      <a class="btn btn-secondary float-right mt-5" href="~/Navigation/Carreras"><i class="fa fa-sign-out-alt"></i><span> Volver</span></a>
    </div>
  </div>

  <hr>

  <div class="row justify-content-center">
    <div class="col-md-12">

      <div class="card">

        <div class="card-header">Info</div>

        <div class="card-body">

          <div class="form-group">
            <label for="name">ID</label>
            <h5 class="form-control">@Model.Id</h5>
          </div>
          
          <div class="form-group">
            <label for="contact">Nombre:</label>
            <h5 class="form-control">@Model.Nombre</h5>
          </div>
          
          <div class="form-group">
            <label for="email">Creado</label>
            <h5 class="form-control">@Model.Creado</h5>
          </div>
              
        </div>
            
      </div>

    </div>
  </div>
  
</main>