@import "config";

html, body{
    background-color: $background-color;
    width: $root-width;
    font-family: $font-family;
}

.navbar-icon{
    display: inline-block;
    line-height: inherit;
    color: #FFF;
    margin: 0 10px 0 10px;
    font-size: 25px;
    cursor: pointer;
}

.bg-nav-custom{
    background-color: $main-color;
}

.btn-custom {
    color: #fff;
    background-color: $main-color;
    border-color: $main-color;
}

.btn-ligh-danger{
    color: #212529;
    background-color: #ff9fa8;
    border-color: #ff9fa8;
}
.btn-ligh-danger:hover{
    color: #212529;
    background-color: #ee818b;
    border-color: #ee818b;
}

footer{
    height: 50px;
    line-height: 50px;
    background-color: #eee;
    color: $color;
    font-size: 12px;
}

.footer-space{
    width: 100%;
    height: 65px;
}

@media (max-width: 1200px) {}