@{
    ViewData["Title"] = "Login";
}

<div>
    <h2>@ViewData["Title"]</h2>

    <form class="form-signin" runat=server>
        <img src="/images/home/homeBanner.jpg" width="100%">
        <h3 class="h3 mb-3 font-weight-normal">@ViewData["Message"]</h3>
        <label for="inputEmail" class="sr-only">Usuario</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Usuario" required autofocus>
        <label for="inputPassword" class="sr-only">Contraseña</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Contraseña" required>
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Recordarme
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Acceder</button>
    </form>
</div>