<div>
    <h2>@ViewData["Title"]</h2>

    <form class="form-signin" runat=server>
        <h3 class="h3 mb-3 font-weight-normal">@ViewData["Message"]</h3>
        <label for="inputEmail" class="sr-only">Usuario</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Usuario" required autofocus>
        <label for="inputPassword" class="sr-only">Contraseña</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Contraseña" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Acceder</button>
        <a asp-area="" asp-controller="Home" asp-action="Register">Registro</a>
    </form>
</div>