<main class="container">
  
  <div class="row">
    <div class="col-sm-8">
      <h2 class="mt-5">@ViewData["Title"]</h2>
    </div>
    <div class="col-sm-4">
      <a class="btn btn-secondary float-right mt-5" href="~/Navigation/@ViewBag.Section"><i class="fa fa-sign-out-alt"></i><span> Volver</span></a>
    </div>
  </div>

  <hr>

  <div class="row justify-content-center">
    <div class="col-md-12">

      <div class="card">

        <div class="card-header">@ViewData["SubTitle"]</div>

        <div class="card-body">

          <form action="~/ActionUsuarios/Create" method="post">

            <div class="form-group">
              <label for="nombre">Nombre</label>
              <input type="text" class="form-control" name="nombre" required>
            </div>
            
            <div class="form-group">
              <label for="apellido">Apellido</label>
              <input type="text" class="form-control" name="apellido" required>
            </div>
            
            <div class="form-group">
              <label for="dni">DNI</label>
              <input type="text" class="form-control" name="dni" required>
            </div>
            
            <div class="form-group">
              <label for="legajo">Legajo</label>
              <input type="number" class="form-control" name="legajo" required>
            </div>
            
            <div class="form-group">
              <label for="mail">Mail</label>
              <input type="email" class="form-control" name="mail" required>
            </div>
            
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" name="password" required>
            </div>
            
            <div class="form-group">
              <label for="fechanac">Fecha de Nacimiento</label>
              <input type="date" class="form-control" name="fechanac" required>
            </div>
            
            <div class="form-group">
              <label for="ingreso">Fecha de Ingreso</label>
              <input type="date" class="form-control" name="ingreso" required>
            </div>
            
            @if (ViewBag.MyUserType == "3")
            {
              <div class="form-group">
                <label for="sueldo">Sueldo</label>
                <input type="number" class="form-control" name="sueldo" required>
              </div>  
            }

            <div class="form-group">
              <input type="hidden" value="@ViewBag.MyUserType" name="myUserType">
              <button type="submit" name="Create" class="btn btn-custom waves"><i class="fas fa-plus-circle"></i> Crear</button>
            </div>

          </form>

        </div>

      </div>

    </div>
  </div>
  
</main>